<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="maptimepdx">
  <meta name="twitter:title" content="Always a good time for mapping...">
  <meta name="twitter:description" content="MaptimePDX is an offshoot of MaptimeSF, a weekly meetup of mappers in SF hacking on maps and doing mappy things. In the same tradition, we're aiming to provide meetups for hacking on map projects of all sorts.">
  <meta name="twitter:creator" content="geografa">
  <meta name="twitter:image:src" content="http://distilleryimage2.ak.instagram.com/4f3ae99e717e11e39ea71230a3416982_8.jpg">
  <meta name="twitter:domain" content="http://maptimepdx.org/">
  <title> {% if page.title %} {{ page.title }} | {% endif %} MaptimePDX </title>
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.ie.css' rel='stylesheet'>
  <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
  <div id="main">
    <header>
      <a href="/"><h1>Maptime</h1></a>
      <p><a href="http://omgitsmaptime.com/">Maptime</a> | <a href="/contact">Contact</a> | <a href="https://github.com/maptimepdx">Github</a> | <a href="/about">About</a></p>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="maptimepdx" data-related="maptimepdx" data-hashtags="maptime" class='twitter'>Tweet</a>
    </header>
    
    {{ content }}
    <footer>
      <p><a href="http://omgitsmaptime.com/">Maptime</a> | <a href="/contact">Contact</a> | <a href="https://github.com/geografa/maptimepdx/tree/gh-pages">Github</a> | <a href="/about">About</a></p>
    </footer> 
  </div>
</body>
</html>
